:root {
  --hColors: #ffaf40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #ffcccc;
}

@keyframes blur {
  0% {filter: blur(12px);}
  100% {filter: blur(0px);}
}

body {
  background-color: whitesmoke;
  animation-name: blur;
  animation-duration: 0.8s;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3d3d3d;
  text-align: center;
}

h2 {
  color: var(--hColors);
}

hr {
  color: #eb2f06;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  background-color: #001f3f;
}

.logo {
  padding: 8px 0 8px 16px;
  transition: 1s;
}

.logo:hover {
  transform: translate(16px);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px 0;
}

.about-title {
  margin: 16px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  background-image: url('./components/assets/background.png');
  background-size: cover;
  padding-bottom: 20px;
}

.projects-title {
  padding-top: 16px;
  margin: auto;
}

.about p {
  font-size: 16px;
  text-align: justify;
  margin: 0 16px;
  width: 460px;
}

.selfie {
  height: 264px;
  width: 148px;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid white;
}

.card:hover {
  transform: scale(1.25);
}

.card{
  border: 5px solid #60a3bc;
  border-radius: 20px;
  flex: 0 1 400px;
  height: 200px;
  width: 200px;
  margin-top: 24px;
  margin-left: 32px;
  text-align: left;
  transition: 1s;
}
