:root {
  --hColors: #ffaf40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #ffcccc;
}

body {
  background-color: whitesmoke;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3d3d3d;
  text-align: center;
}

h1 {
  margin: 32px 0;
  color: var(--hColors);
  font-size: 32px;
  margin-left: 20px;
}

h2 {
  color: var(--hColors);
}

hr {
  color: #eb2f06;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
  background-color: #001f3f;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px 0;
}

.about-title {
  margin: 16px 0;
}

.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('./components/assets/background.png');
  background-size: cover;
}

.projects-title {
  margin: 16px 0;
}

.about p {
  font-size: 16px;
  text-align: justify;
  margin: 0 16px;
  width: 460px;
}

.selfie {
  height: 264px;
  width: 148px;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid white;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.25);
}

.card{
  border: 5px solid #60a3bc;
  border-radius: 20px;
  flex: 0 1 400px;
  height: 400px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: left;
  transition: 1s;
}
