* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #f8c291;
}

body {
  background-color: whitesmoke;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0c2461;
  text-align: center;
}

h1 {
  margin: 32px 0;
  color: #b8e994;
  font-size: 32px;
  margin-left: 20px;
}

h2 {
  color: #b8e994;
}

h3 {
  margin-top: 20px;
}

hr {
  color: #eb2f06;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
  background-color: #001f3f;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.about-title {
  margin: 10px 0;
}

.about p {
  text-align: justify;
  margin: 0 16px;
}

.main-paragraph {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
}

.selfie {
  height: 240px;
  width: 135px;
  border: 1px solid #eb2f06;
  border-radius: 20px;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
